<h1>Hello <%= @interviewee.user_name %></h1>
<p>
  This is the reminder mail!! <br />
  You have your interview scheduled for <%= @interview.title %> at <%= format_time(@interview.start_time) %> <br />
  Kindly be on time
</p>
<p>Thanks for using interview creation App!</p>