<h1>Hello <%= @interviewer.user_name %></h1>
<p>
  This is the reminder mail!! <br />
  You need to take a interview scheduled for <%= @interview.title %> at <%= format_time(@interview.start_time)%> <br />
  Kindly be on time
</p>
<p>Thanks for using interview creation App!</p>